

  body{
    background-color: #BDF2D5;
  }

  hr{

    border-style:dotted none none none;
    border-color:grey;
    border-width:5px;
    width:5%;
  }

  img{
    height:100px;
  }

  h1{
    color: #C70A80;
  }

  h3{
    color: #C70A80;
  }

  h4{
    color: #C70A80;
  }

  .hobby{
    color:red
  }
